* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

header ul li {
	margin-left: 45px;
}

i {
	color: orange;
}

footer {
	background-color: lightgray;
}

footer ul li {
	display: inline-block;
}

footer li a {
	color: black;
}


  /* For tablets: */
@media only screen and (min-width: 768px) {
	#header {
		display: inline;
	}
}

  /* For desktop: */
@media only screen and (min-width: 1440px) {


}