* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section .container{
    position: relative;
    top: 50%;
}

section#welcome-section {
    height: 100vh;
    background: pink;
}

section#projects {
    height: 100vh;
    background: yellowgreen;
}

section#profile {
    height: 100vh;
    background: lightblue;
}

#navbar {
    position: fixed;
    width: 100%;
}

@media screen and (max-height: 450px) {

  }