* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

body {
	background: rgb(59,59,137);
	background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(121,108,9,0.15730042016806722) 0%, 
		rgba(133,8,65,0.639093137254902) 100%, rgba(0,212,255,1) 100%),
		url("https://image.freepik.com/free-photo/close-up-image-programer-working-his-desk-office_1098-18707.jpg");
	background-size: cover;
	background-position: top;
	background-repeat: no-repeat;
}
#title, #description, label {
	color: white;
}

form {
	width: 80vh;
	margin: 0 auto;
	text-align: left;
	background-color: rgba(27,27,50,0.8);
	padding: 40px;
}
