*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#navbar{
    position:fixed;
}

.nav-link{
    list-style-type: none;
}

main{
    margin-left: 18rem;
}

.main-section header {
    font-size: 25px;
    font-weight: bold;
}

#main-doc ul{
    margin-left: 75px;
}
code{
    margin: 25px;
}

@media screen and (max-height: 450px) {
    #navbar {padding-top: 15px;}
    .nav-link {font-size: 18px;}
  }

