* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #EEEEEE;
}
#img-div {
	background-color: white;
}
#image {
	display: block;
}
ul {
    text-align: center;
    list-style-position: inside;
}
ul li {
	margin: 15px;
}

  /* For tablets: */
@media only screen and (min-width: 768px) {
	#tribute-info {
		justify-content: center;
		padding-left: 70px;
		padding-right: 70px;
	}
}




  /* For desktop: */
@media only screen and (min-width: 1440px) {
	blockquote, #tribute-info {
		justify-content: center;
		padding-left: 250px;
		padding-right: 250px;
	}

}